@charset "UTF-8";
/*!
=========================================================
* Custom CSS FILE
=========================================================
*/
#index-content{
    background-color: #172b4d;
}

/* ERROR and LOGIN ERROR PAGE */

.error-body{
    background-color: #adb5bd;
}
.update-body{
    background-color: #2dce89;
}
.error-message, .update-message{
    padding-top: 60px;
    text-align: center;
}
.error-image, .update-image{
    text-align: center;
    padding-top: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.error-button, .update-button{
    text-align: center;
    padding-top: 60px;
    padding-bottom: 40px;
}

.navbar-horizontal .navbar-brand img {
    height: 50px;
}