@charset "UTF-8";
/*!
=========================================================
* Custom CSS FILE
=========================================================
*/
#index-content{
    background-color: #172b4d;
}

/* ERROR and LOGIN ERROR PAGE */

.error-body{
    background-color: #a8b3f0;
}

.error-message{
    padding-top: 60px;
    text-align: center;
}

.error-image{
    text-align: center;
    padding-top: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.error-button{
    text-align: center;
    padding-top: 60px;
    padding-bottom: 40px;
}
