<!--
=========================================================
* THEME: Argon Dashboard - v1.2.0
=========================================================
* Product Page: https://www.creative-tim.com/product/argon-dashboard
* Copyright  Creative Tim (http://www.creative-tim.com)
=========================================================
-->
<!DOCTYPE html>
<html lang="en">
<!-- Head -->
{{>head}}
<!-- /Head -->

<body>
    <!-- Main content -->
    <div class="main-content" id="panel">
        <div class="row" class="text-center" style="padding-top: 30px;">
            <div class="col-lg-4"></div>
            <div class="col-lg-4">
                <h1>ADMIN PANEL</h1>
            </div>
            <div class="col-lg-4"></div>
        </div>
        <hr>
        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-10">
                <h2>USERS</h2>
                <div id="display-users">
                    <ul>
                    {{#allUser}}
                    <li>
                        <a class="btn btn-link" href="/user/{{id}}">{{name}}</a>
                    </li>
                    {{/allUser}}
                </ul>
                </div>
                <div id="create-user">
                    <a class="btn btn-primary" href="/user/new">CREATE USER</a>
                </div>
            </div>
            <div class="col-lg-1"></div>
        </div>
        <hr>
        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-10">
                <h2>MUSIC</h2>
                <div id="display-music">
                </div>
                <div id="create-music">
                </div>
            </div>
            <div class="col-lg-1"></div>
        </div>
        <hr>
        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-10">
                <h2>CITY</h2>
                <div id="display-city">
                </div>
                <div id="create-city">
                </div>
            </div>
            <div class="col-lg-1"></div>
        </div>
    </div>
    <!-- /Main content -->

    <hr>

    <!-- Buttons Bottom-->
    <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-10">
            <div class="section-buttons">
        <div class="navbar" >
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/profile">
                        <button type="button" class="btn btn-primary">BACK TO PROFILE</button>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/dashboard">
                        <button type="button" class="btn btn-primary">BACK TO DASHBOARD</button>
                    </a>
                </li>
            </ul>
        </div>
    </div>
        </div>
        <div class="col-lg-1"></div>
    </div>
    <!-- Buttons Bottom-->


    <!-- Scripts -->
    <div class="scripts">
        {{>scripts}}
    </div>
    <!-- /Scrips -->

</body>
</html>