<!--
=========================================================
* THEME: Argon Dashboard - v1.2.0
=========================================================
* Product Page: https://www.creative-tim.com/product/argon-dashboard
* Copyright  Creative Tim (http://www.creative-tim.com)
=========================================================
-->
<!DOCTYPE html>
<html lang="en">
    <!-- Head -->
    {{>head}}
    <!-- /Head -->

    <body>
            <div class="error-body">
                <div class="row">
                    <div class="col-xl-4"></div>
                    <div class="col-xl-4">
                        <div class="error-message">
                            <h2> Opps... it looks like there was a problem</h2>
                        </div>
                        <div class="error-image">
                            <img src="../assets/img/error_animal.png" style="max-width: 60%;height: auto;">
                        </div>
                        <div class="error-button">
                            <a class="btn btn-primary" href="/">
                                <span class="nav-link-inner--text">Go back to MuMapp</span>
                            </a>
                        </div>
                    </div>
                    <div class="col-xl-4"></div>
                </div>
            </div>

        <!-- Footer -->
        <div class="footer nav-footer">
            {{>footer}}
        </div>
        <!-- /Footer -->

        <!-- Scripts -->
        <div class="scripts">
            {{>scripts}}
        </div>
        <!-- /Scrips -->

    </body>
</html>