<!--
=========================================================
* THEME: Argon Dashboard - v1.2.0
=========================================================
-->
<!DOCTYPE html>
<html lang="en">
<!-- Head -->
{{>head}}
<!-- /Head -->

<body>
    <div class="error-body">
        <div class="row">
            <div class="col-xl-4"></div>
            <div class="col-xl-4">
                <div class="error-message">
                    <h1> HEY THERE ADMIN USER!</h1>
                </div>
                <div class="updated-image">
                    <img src="../assets/img/updated_animal.png" style="max-width: 60%;height: auto;">
                </div>
                <div class="updated-message">
                    <h4>INFO HAS BEEN UPDATED/CREATED/DELETED CORRECTLY!</h4>
                </div>
                <div class="updated-button">
                    <a class="btn btn-primary" href="/admin">
                        <span class="nav-link-inner--text">Back to ADMIN</span>
                    </a>
                </div>
            </div>
            <div class="col-xl-4"></div>
        </div>
    </div>

    <!-- Scripts -->
    <div class="scripts">
        {{>scripts}}
    </div>
    <!-- /Scrips -->
</body>
</html>