<!--
=========================================================
* THEME: Argon Dashboard - v1.2.0
=========================================================
-->
<!DOCTYPE html>
<html lang="en">
<!-- Head -->
    {{>head}}
<!-- /Head -->

    <body>
        <h2>LOG IN ERROR</h2>
        <h2>LOG IN ERROR</h2>
        <h2>LOG IN ERROR</h2>
        <h2>LOG IN ERROR</h2>
        <h2>LOG IN ERROR</h2>
        <h3>Please try to log in again</h3>
        <a href="/login" class="text-dark">LOGIN</a>
        <p></p>

        <!-- Footer -->
        <div class="footer nav-footer">
            {{>footer}}
        </div>
        <!-- /Footer -->

        <!-- Scripts -->
        <div class="scripts">
            {{>scripts}}
        </div>
        <!-- /Scrips -->
    </body>
</html>