<!--
=========================================================
* THEME: Argon Dashboard - v1.2.0
=========================================================
-->
<!DOCTYPE html>
<html lang="en">
<!-- Head -->
{{>head}}
<!-- /Head -->

<body>
<div class="update-body">
    <div class="row">
        <div class="col-xl-4"></div>
        <div class="col-xl-4">
            <div class="update-message">
                <h2> Thanks!</h2>
            </div>
            <div class="update-image">
                <img src="../assets/img/profileupdated_animal.png" style="max-width: 60%;height: auto;">
            </div>
            <div class="update-message">
                <h2>Info has been updated</h2>
            </div>
            <div class="update-button">
                <a class="btn btn-primary" href="/profile">
                    <span class="nav-link-inner--text">Back to PROFILE</span>
                </a>
                <a class="btn btn-primary" href="/dashboard">
                    <span class="nav-link-inner--text">Back to DASHBOARD</span>
                </a>
            </div>
        </div>
        <div class="col-xl-4"></div>
    </div>
</div>


<!-- Footer -->
<div class="footer nav-footer">
    {{>footer}}
</div>
<!-- /Footer -->

<!-- Scripts -->
<div class="scripts">
    {{>scripts}}
</div>
<!-- /Scrips -->
</body>
</html>