<!--
=========================================================
* THEME: Argon Dashboard - v1.2.0
=========================================================
* Product Page: https://www.creative-tim.com/product/argon-dashboard
* Copyright  Creative Tim (http://www.creative-tim.com)
=========================================================
-->
<!DOCTYPE html>
<html lang="en">
    <!-- Head -->
    {{>head}}
    <!-- /Head -->

    <body>
        <h2>YOUR PROFILE HAS BEEN UPDATED</h2>

        <div class="error-button">
            <a class="btn btn-primary" href="/profile">
                <span class="nav-link-inner--text">Back to PROFILE</span>
            </a>
        </div>
    </body>

</html>