<!--
=========================================================
* THEME: Argon Dashboard - v1.2.0
=========================================================
* Product Page: https://www.creative-tim.com/product/argon-dashboard
=========================================================
-->
<!DOCTYPE html>
<html lang="en">
<!-- Head -->
{{>head}}
<!-- /Head -->

<body>
    <!-- Navbar Auth-->
    <nav id="navbar-main" class="navbar navbar-horizontal navbar-transparent navbar-main navbar-expand-lg navbar-light">
        <div class="container">
            {{#admin}}
                <div class="navbar" id="navbar-admin">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/admin" style="background-color: red;">
                            <span class="nav-link-inner--text">ADMIN</span>
                        </a>
                    </li>
                </ul>
            </div>
            {{/admin}}

            <a class="navbar-brand" href="dashboard">
                <img src="../assets/img/brand/white.png">
            </a>
            <div class="navbar-collapse navbar-custom-collapse collapse" id="navbar-collapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/dashboard">
                            <span class="nav-link-inner--text"> My Dashboard</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/profile">
                            <span class="nav-link-inner--text">My Profile</span>
                        </a>
                    </li>
                </ul>
            </div>
            <hr class="d-lg-none" />
            <!-- Profile photo navbar -->
            <div class="navbar-collapse navbar-custom-collapse collapse" id="navbar-image">
                <ul class="navbar-nav align-items-lg-center ml-lg-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link pr-0" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <div class="media align-items-center">
                                  <span class="avatar avatar-lg rounded-circle">
                                    {{#user.image}}
                                      <img src="../images/users/image-{{user.id}}.jpg"/>
                                    {{/user.image}}
                                    {{^user.image}}
                                      <img src="../assets/img/theme/user_default.png" class="rounded-circle" style="border-radius: 0% !important;">
                                    {{/user.image}}
                                  </span>
                                    <div class="media-body  ml-2  d-none d-lg-block">
                                        <span class="mb-0 text-sm  font-weight-bold">{{user.name}}</span>
                                    </div>
                            </div>
                        </a>
                        <div class="dropdown-menu  dropdown-menu-right ">
                            <div class="dropdown-header noti-title">
                                <h6 class="text-overflow m-0">Welcome!</h6>
                            </div>
                            <a href="/profile" class="dropdown-item">
                                <i class="ni ni-single-02"></i>
                                <span>My Profile</span>
                            </a>
                            <a href="dashboard" class="dropdown-item">
                                <i class="ni ni-sound-wave"></i>
                                <span>My Dashboard</span>
                            </a>
                            <div class="dropdown-divider"></div>
                            <a href="/logout" class="dropdown-item">
                                <i class="ni ni-user-run"></i>
                                <span>Logout</span>
                            </a>
                        </div>
                    </li>
                </ul>
            </div>

        </div>
    </nav>
    <!-- /Navbar Auth-->

    <!-- Main content -->
    <div class="main-content" id="panel">

        <!-- Header -->
         <div class="header pb-6 d-flex align-items-center" style="min-height: 450px; background-color: rgba(94, 114, 228, 0.3);  background-size: cover; background-position: center top;">

        <!-- Mask -->
            <span class="mask bg-gradient-default opacity-8"></span>
            <!-- Header container -->
            <div class="container-fluid d-flex align-items-center" style="padding-top: 40px;">
                <a href="/profile"></a>
                <div class="row">
                    <div class="col-lg-7 col-md-10">
                        <h1 class="display-2 text-white">Hello {{user.firstName}} {{user.lastName}}</h1>
                        <p class="text-white mt-0 mb-5">This is your profile page. You can see and edit all the info about you and your preferences.</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Page content -->
        <div class="container-fluid mt--6">
            <div class="row">
                <!-- SIDE PROFILE BLOCK -->
                <div class="col-xl-4 order-xl-2">
                    <div class="card card-profile">
                        <img src="../assets/img/theme/user_background.jpg" alt="Image placeholder" class="card-img-top">
                        <div class="row justify-content-center">
                            <div class="col-lg-3 order-lg-2">
                                <div class="card-profile-image">
                                    {{#user.image}}
                                    <img src="../images/users/image-{{user.id}}.jpg"/>
                                    {{/user.image}}
                                    {{^user.image}}
                                    <img src="../assets/img/theme/user_default.png" class="rounded-circle" style="border-radius: 0% !important;">
                                    {{/user.image}}
                                </div>
                            </div>
                        </div>
                        <div class="card-body pt-0">
                            <div class="text-center">
                                <div style="padding-top: 20px; margin-top: 70px; ">
                                    <h3><b><small>Name: </small></b>{{user.firstName}} {{user.lastName}}</h3>
                                    <h3><b><small>User Name: </small></b>{{user.name}}</h3>
                                </div>
                                <hr class="my-4" />
                                <div>
                                    <h7><b>Music Styles</b></h7>
                                    <p class="ni mr-2" style="text-transform: capitalize;">{{#user.musicSet}}{{styleName}} <b>/</b> {{/user.musicSet}}</p>
                                </div>
                                <div>
                                    <h7><b>Cities</b></h7>
                                    <p class="ni mr-2" style="text-transform: capitalize;">{{#user.citySet}}{{cityName}} <b>/</b> {{/user.citySet}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- PROFILE AND PREFERENCES FORM -->
                <div class="col-xl-8 order-xl-1">
                    <div class="card">
                        <div class="card-header">
                            <div class="row align-items-center">
                                <h2 class="mb-0">Your profile </h2>
                            </div>
                        </div>
                        <div class="card-body">
                            <!-- FORM USER INFORMATION -->
                            <form action="/saveUser" method="post">
                                <div class="pl-lg-4">
                                    <!-- USER INFORMATION -->
                                    <div class="form-group" id="user-information">
                                        <h6 class="heading-small text-muted mb-4">User information</h6>
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label class="form-control-label">Username</label>
                                                    <h3>{{user.name}}</h3>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label class="form-control-label" for="input-email">Email</label>

                                                    <input type="text" id="input-email" class="form-control" placeholder="Email" value="{{user.email}}" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label class="form-control-label" for="input-first-name">First name</label>

                                                    <input type="text" id="input-first-name" class="form-control" placeholder="First name" value="{{user.firstName}}" />
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label class="form-control-label" for="input-last-name">Last name</label>

                                                    <input type="text" id="input-last-name" class="form-control" placeholder="Last name" value="{{user.lastName}}"/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <hr class="my-4" />
                                    <!-- PREFERENCES -->
                                    <div class="form-group" id="preferences">
                                        <h6 class="heading-small text-muted mb-4">Preferences</h6>
                                        <!-- PREFERENCES: MUSIC -->
                                        <div class="container" style="padding-top: 20px;">
                                            <div class="row">
                                                <div class="form-group">
                                                    <label class="form-control-label">Music Styles</label>
                                                    <p>We recommend you to choose up to 10 music styles</p>
                                                </div>

                                            </div>
                                            <div class="row">
                                                <div class="col-xl-6 order-xl-2 dropdown">
                                                    <button aria-expanded="true" aria-haspopup="true"
                                                            class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                                                            id="dropdownMenuMUSIC" type="button">
                                                        <i class="ni ni-note-03"></i>
                                                        CHOOSE YOUR MUSIC
                                                        <span class="caret"></span>
                                                    </button>
                                                    <ul aria-labelledby="dropdownMenu1"
                                                        class="dropdown-menu checkbox-menu allow-focus">
                                                        {{#allMusic}}
                                                            <li><label style="text-transform: capitalize;"><input type="checkbox">{{styleName}}</label></li>
                                                        {{/allMusic}}
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- PREFERENCES: CITIES -->
                                        <div class="container" style="padding-top: 20px;">
                                            <div class="row">
                                                <div class="form-group">
                                                    <label class="form-control-label">Cities</label>
                                                    <p>We recommend you to choose up to 5 cities</p>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xl-12 order-xl-2 dropdown">
                                                    <button aria-expanded="true" aria-haspopup="true"
                                                            class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                                                            id="dropdownMenuCITIES" type="button">
                                                        <i class="ni ni-world-2"></i>
                                                        CHOOSE YOUR CITIES
                                                        <span class="caret"></span>
                                                    </button>
                                                    <ul aria-labelledby="dropdownMenu1"
                                                        class="dropdown-menu checkbox-menu allow-focus">
                                                        {{#allCity}}
                                                        <li><label style="text-transform: capitalize;"><input type="checkbox">{{cityName}}   <small>({{country}})</small></label></li>
                                                        {{/allCity}}
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <hr class="my-4" />
                                    <!-- SAVE DATA CHANGES-->
                                    <div class="form-group">
                                        <input type="submit" class="btn btn-outline-success" value="SAVE INFO">
                                        <input type="hidden" name="_csrf" value="{{token}}"/>
                                    </div>
                                </div>
                            </form>
                            <!-- /FORM USER INFORMATION -->
                            <hr class="my-4" />
                            <!-- FORM USER IMAGE -->
                            <form action="/saveUserImage" method="post" enctype="multipart/form-data">
                                <div class="pl-lg-4">
                                    {{#user}}
                                    <input type="hidden" name="id" value="{{id}}" class="form-control"/>
                                    <input type="hidden" name="firstName" value="{{firstName}}" class="form-control"/>
                                    <input type="hidden" name="lastName" value="{{lastName}}" class="form-control"/>
                                    <input type="hidden" name="name" value="{{name}}" class="form-control"/>
                                    <input type="hidden" name="email" value="{{email}}" class="form-control"/>
                                    <input type="hidden" name="passwordHash" value="{{passwordHash}}" class="form-control"/>
                                    <input type="hidden" name="roles" value="{{roles}}" class="form-control"/>
                                    {{/user}}
                                    <div class="form-group" id="user-image">
                                        <label class="form-control-label" for="basic-url">Upload your profile image</label>
                                        <h4>We recommend a square picture</h4>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="basic-addon3">IMAGE URL</span>
                                            </div>
                                            <input type="file" name="imageFile" accept=".jpg, .jpeg, .JPG, .JPEG, .png, .PNG"
                                                   class="form-control" id="basic-url" aria-describedby="basic-addon3"/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <input type="submit" class="btn btn-outline-success" value="SAVE IMAGE">
                                        <input type="hidden" name="_csrf" value="{{token}}"/>
                                    </div>
                                </div>
                            </form>
                            <!-- / FORM USER IMAGE -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <div class="footer nav-footer">
        {{>footer}}
    </div>
    <!-- /Footer -->

    <!-- Scripts -->

    <div class="scripts">
        {{>scripts}}
    </div>
    <!-- /Scrips -->

</body>
</html>