<!--
=========================================================
* THEME: Argon Dashboard - v1.2.0
=========================================================
* Product Page: https://www.creative-tim.com/product/argon-dashboard
* Copyright  Creative Tim (http://www.creative-tim.com)
=========================================================
-->
<!DOCTYPE html>
<html lang="en">
    <!-- Head -->
    {{>head}}
    <!-- /Head -->

    <body>
        <h2>YOUR PROFILE HAS BEEN UPDATED</h2>
        <a href="profile.html">GO BACK TO PROFILE</a>
    </body>

</html>