<!--
=========================================================
* THEME: Argon Dashboard - v1.2.0
=========================================================
* Product Page: https://www.creative-tim.com/product/argon-dashboard
* Copyright  Creative Tim (http://www.creative-tim.com)
=========================================================
-->
<!DOCTYPE html>
<html lang="en">
<!-- Head -->
{{>head}}
<!-- /Head -->

<body>
    <!-- Navbar Auth-->
    <nav id="navbar-main" class="navbar navbar-horizontal navbar-transparent navbar-main navbar-expand-lg navbar-light">
        <div class="container">
            {{#admin}}
                <div class="navbar" id="navbar-admin">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="admin.html" style="background-color: red;">
                            <span class="nav-link-inner--text">ADMIN</span>
                        </a>
                    </li>
                </ul>
            </div>
            {{/admin}}

            {{>navbar_auth}}

        </div>
    </nav>
    <!-- /Navbar Auth-->

    <!-- Main content -->
    <div class="main-content" id="panel">

        <!-- Header -->
         <div class="header pb-6 d-flex align-items-center" style="min-height: 450px; background-color: rgba(94, 114, 228, 0.3);  background-size: cover; background-position: center top;">

        <!-- Mask -->
            <span class="mask bg-gradient-default opacity-8"></span>
            <!-- Header container -->
            <div class="container-fluid d-flex align-items-center" style="padding-top: 40px;">
                <a href="/{{name}}/profile"></a>
                <div class="row">
                    <div class="col-lg-7 col-md-10">
                        <h1 class="display-2 text-white">Hello {{user.firstName}} {{user.lastName}}</h1>
                        <p class="text-white mt-0 mb-5">This is your profile page. You can see and edit all the info about you and your preferences.</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Page content -->
        <div class="container-fluid mt--6">
            <div class="row">
                <!-- SIDE PROFILE BLOCK -->
                <div class="col-xl-4 order-xl-2">
                    <a href="/{{name}}/info/music"></a>
                    <div class="card card-profile">
                        <img src="../assets/img/theme/user_background.jpg" alt="Image placeholder" class="card-img-top">
                        <div class="row justify-content-center">
                            <div class="col-lg-3 order-lg-2">
                                <div class="card-profile-image">
                                    <img src="../assets/img/theme/user_default.png" class="rounded-circle" style="border-radius: 0% !important;">
                                </div>
                            </div>
                        </div>
                        <div class="card-body pt-0">
                            <div class="text-center">
                                <div style="padding-top: 20px; margin-top: 70px; ">
                                    <h3><b><small>Name: </small></b>{{user.firstName}} {{user.lastName}}</h3>
                                    <h3><b><small>User Name: </small></b>{{user.name}}</h3>
                                </div>
                                <hr class="my-4" />
                                <div>
                                    <h7><b>Music Styles</b></h7>
                                    <p class="ni mr-2" style="text-transform: capitalize;">{{#user.musicSet}}{{styleName}} <b>/</b> {{/user.musicSet}}</p>
                                </div>
                                <div>
                                    <h7><b>Cities</b></h7>
                                    <p class="ni mr-2" style="text-transform: capitalize;">{{#user.citySet}}{{cityName}} <b>/</b> {{/user.citySet}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- PROFILE AND PREFERENCES FORM -->
                <div class="col-xl-8 order-xl-1">
                    <div class="card">
                        <div class="card-header">
                            <div class="row align-items-center">
                                <h2 class="mb-0">Your profile </h2>
                            </div>
                        </div>
                        <div class="card-body">
                            <!-- USER INFORMATION INFORMATION -->
                            <form>
                                <div class="pl-lg-4">
                                    <h6 class="heading-small text-muted mb-4">User information</h6>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label class="form-control-label">Username</label>
                                                <h3>{{user.name}}</h3>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label class="form-control-label" for="input-email">Email</label>

                                                <input type="text" id="input-email" class="form-control" placeholder="Email" value="{{user.email}}" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label class="form-control-label" for="input-first-name">First name</label>

                                                <input type="text" id="input-first-name" class="form-control" placeholder="First name" value="{{user.firstName}}" />
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label class="form-control-label" for="input-last-name">Last name</label>

                                                <input type="text" id="input-last-name" class="form-control" placeholder="Last name" value="{{user.lastName}}"/>
                                            </div>
                                        </div>
                                    </div>
                                <hr class="my-4" />
                                <!-- PREFERENCES -->
                                    <h6 class="heading-small text-muted mb-4">Preferences</h6>
                                    <!-- PREFERENCES: MUSIC -->
                                    <div class="container">
                                        <div class="row">
                                            <div class="form-group">
                                                <label class="form-control-label">Music Styles</label>
                                                <p>We recommend you to choose up to 10 music styles</p>
                                            </div>

                                        </div>
                                        <div class="row">
                                            <div class="col-xl-6 order-xl-2 dropdown">
                                                <button aria-expanded="true" aria-haspopup="true"
                                                        class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                                                        id="dropdownMenuMUSIC" type="button">
                                                    <i class="ni ni-note-03"></i>
                                                    CHOOSE YOUR MUSIC
                                                    <span class="caret"></span>
                                                </button>
                                                <ul aria-labelledby="dropdownMenu1"
                                                    class="dropdown-menu checkbox-menu allow-focus">
                                                    {{#allMusic}}
                                                        <li><label style="text-transform: capitalize;"><input type="checkbox">{{styleName}}</label></li>
                                                    {{/allMusic}}
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <p> </p>
                                    <p> </p>
                                    <!-- PREFERENCES: CITIES -->
                                    <div class="container" style="padding-top: 20px;">
                                        <div class="row">
                                            <div class="form-group">
                                                <label class="form-control-label">Cities</label>
                                                <p>We recommend you to choose up to 5 cities</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xl-12 order-xl-2 dropdown">
                                                <button aria-expanded="true" aria-haspopup="true"
                                                        class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                                                        id="dropdownMenuCITIES" type="button">
                                                    <i class="ni ni-world-2"></i>
                                                    CHOOSE YOUR CITIES
                                                    <span class="caret"></span>
                                                </button>
                                                <ul aria-labelledby="dropdownMenu1"
                                                    class="dropdown-menu checkbox-menu allow-focus">
                                                    {{#allCity}}
                                                    <li><label style="text-transform: capitalize;"><input type="checkbox">{{cityName}}   <small>({{country}})</small></label></li>
                                                    {{/allCity}}
                                                </ul>
                                            </div>
                                        </div>
                                    </div>


                                <hr class="my-4" />
                                <!-- UPLOAD IMAGE -->
                                <h6 class="heading-small text-muted mb-4">Profile image</h6>
                                <div class="pl-lg-4">
                                    <div class="form-group">
                                        <label class="form-control-label">Upload an image to complete your profile</label>
                                        <div class="input-group">
                                                <span class="btn btn-default btn-file">
                                                    <input type="file" id="imgInp">
                                                </span>
                                            <input type="text" class="form-control" readonly>
                                        </div>
                                    </div>
                                </div>

                                    <!-- PASSWORD -->
<!--
                                    <hr class="my-4" />
                                    <h6 class="heading-small text-muted mb-4">Set a new password</h6>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label class="form-control-label" for="input-first-name">Password</label>
                                                <input type="text" id="input-old-password" class="form-control" placeholder="Password" value="">
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label class="form-control-label" for="input-last-name">New Password</label>
                                                <input type="text" id="input-new-password" class="form-control" placeholder="New Password" value="">
                                            </div>
                                        </div>
                                    </div>-->
                                    <!-- SAVE BUTTON -->
                                    <hr class="my-4" />
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <button type="button" class="btn btn-primary">Save Changes</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <div class="footer nav-footer">
        {{>footer}}
    </div>
    <!-- /Footer -->

    <!-- Scripts -->
    <div class="scripts">
        {{>scripts}}
    </div>
    <!-- /Scrips -->

</body>
</html>